<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/rooms/all-rooms">See All Rooms</a>
      <a href="/rooms/add-room">Add Room</a>
      <a href="/auth/signup">Signup</a>
      <a href="/auth/login">Login</a>
      <a href="/auth/logout">Logout</a>
    </nav>
    {{{body}}}
  </body>
</html>
